


.defaultButton {
	-fx-background-color: #FFFFFF10;
    -fx-border-radius: 0;
    -fx-background-radius: 0;

    -fx-font-size: 10pt;
    -fx-text-fill: #FFFFFF88;
}

.defaultButton:hover {
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0.2, 0, 1);
}

.defaultButton:disabled {
    -fx-background-color: #FFFFFF15;
    -fx-text-fill: #FFFFFF77;
}



