


.defaultButton {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #FFFFFF20;

    -fx-background-image: url("../Resources/StringResultDefault.png");
}

.defaultButton:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0.2, 0, 1);
}

.defaultButton:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0.2, 0, 1);
    -fx-background-image: url("../Resources/StringResultPressed.png");
}


