.slider {
    -fx-skin: "com.sun.javafx.scene.control.skin.SliderSkin";
}

.slider .thumb {
    -fx-background-color: #FFFFFF;
    /*derive(-fx-color,-36%),
    derive(-fx-color,73%),
    linear-gradient(to bottom, derive(-fx-color,-19%),derive(-fx-color,61%));*/
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em;
    -fx-padding: 0.6em;
}

.slider .track {
    -fx-background-color: #FFFFFF15;
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.slider .axis {
    -fx-tick-label-font: 0.833333em System; 
    -fx-tick-label-fill: #FFFFFF88;
}

.axis-tick-mark {
    -fx-stroke: #FFFFFF15;
}
.axis-minor-tick-mark {
    -fx-stroke: #FFFFFF15;
}

.slider:hover .axis-tick-mark  {
   -fx-stroke: #FFFFFF20;
}

.slider:hover .axis-minor-tick-mark  {
   -fx-stroke: #FFFFFF20;
}

.slider:hover .axis  {
    -fx-tick-label-fill: #FFFFFFAA;
}

.slider:hover  {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 10, 0.2 , 0 , 1 );
}

.slider:hover .thumb {
    -fx-background-insets: -1.5, 0, 1, 2;
    -fx-background-radius: 1.0em;
}

.slider:disabled {
    -fx-opacity: 0.5;
}

