.check-box {
    -fx-skin: "com.sun.javafx.scene.control.skin.CheckBoxSkin";
    -fx-label-padding: 0.0em 0.0em 0.0em 0.616667em; /* 0 0 0 5 */
    -fx-text-fill: #FFFFFF88;
    -fx-font-size: 15pt;
}

.check-box:focused {
    -fx-color: -fx-focused-base;
}

.check-box .text {
   -fx-text-fill: -fx-text-background-color;

    -fx-font-family: "Graphon", Arial;
    -fx-font-size: 9pt;
}

.check-box .box {
    -fx-background-color: #FFFFFF10;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2, 2, 1, 1;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}

.check-box:hover {
    /*-fx-color: -fx-hover-base;*/
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 10, 0.2 , 0 , 1 );
    -fx-text-fill: #FFFFFF;
}

.check-box:armed .box {
    -fx-color: -fx-pressed-base;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

/* TODO: scale the shape - the problem is that it is not within a square
 * boundary.
 */
.check-box:indeterminate .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-shape: "M0,0H8V2H0Z";
    -fx-scale-shape: false;
}

.check-box:selected .mark {
    -fx-background-color: #FFFFFF;
}

.check-box:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.check-box:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
} 